<a href="/cadastrarApresentacao"><button type="button" class="my-4 btn btn-success">Cadastrar Apresentação</button></a>
<a href="/cadastrarUsuario"><button type="button" class="my-4 btn btn-success">Cadastrar Usuário</button></a>
<a href="/logout"><button type="button" class="my-4 btn btn-danger">Logout</button></a>
{{#if userAdmin}}
    {{#if votacaoAberta}}
        <a href="/fecharVotacao"><button type="button" class="my-4 btn btn-danger">Fechar Votação</button></a>
        {{else}}<a href="/abrirVotacao"><button type="button" class="my-4 btn btn-success">Abrir Votação</button></a>
    {{/if}}
{{/if}}
<table class="table">
    <thead style="border-bottom-width: 1px; border-color: #000;">
        <tr>
            <th scope="col">Nome da Apresentação:</th>
            <th scope="col">Participantes:</th>
        </tr>
    </thead>
    <tbody>
        {{#each apresentacao}}
        <tr>
            <th class="note" scope="row" style="font-weight: 400;">{{nome}}</th>
            <th>
                <ul>
                    {{#each usuarios}}
                    <li style="font-weight: 400;" class="note">{{username}}</li>
                    {{/each}}
                </ul>
            </th>
            <td style="text-align: right; border-bottom-width: 1px #000;">
                {{#if votacaoAberta}}
                <a href="/votar/{{idApresentacao}}"><button type="button" class="btn btn-success">Votar</button></a>
                {{else}}<a href="/editarApresentacao/{{idApresentacao}}"><button type="button" class="btn btn-warning">Editar</button></a>
                <a href="/deleteApresentacao/{{idApresentacao}}"><button type="button" class="btn btn-danger">Apagar</button></a>            
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<style>
    .note {
        list-style-type: none;
        line-height: 1;
    }

    .note::before {
        content: "\1F3B5";
        display: inline-block;
        margin-right: 5px;
        font-size: 14px;
    }
</style>